body {
  color: #000080;
  background-color: #ffffff;
}

a {
  color:#800080;
}
  a:visited {
    color:#ff0000;
  }

#leftlinks,#rightlinks {
  width: 45%;
  display: inline-block;
}
  #rightlinks {
    vertical-align: top;
  }

ul {
  margin-left: 5%;
}

.linknote {
  font-size: .5em;
}

header {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
  border-bottom:  1px gray solid;
}
  header p {
    font-size: .75em;
  }

h1 {
  font-size: 1.25em;
  margin: .15em;
}

#subtitle {
  font-size: 1em;
}

.capital {
  font-size: 1.65em;
}

#inc {
  font-size: 75%;
}

li {
  height: 60px
}

#geico {
  font-size: .75em;
  text-align: center;
  padding: 1em 0;
  border-top: 1px gray solid;
  border-bottom:  1px gray solid;
}

p {
  margin: 0;
}

#legal {
  padding-bottom: 1em;
  border-top: 1px gray solid;
}
  #legal p {
    margin: 1em 0;
  }

.copyright {
  font-size: .5em;
}

#comments {
  padding: 1em 0;
}